@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Samlorxy</h1>
    <p class="lead">Samlorxy is an online rental movie store where customers can rent any movies they want for unlimited amount of time.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Upcoming Movies</h2>
        <p>
            See previews of the year's upcoming before they hit the Box Office at VIDLY, your source for new movie previes, news and reviews.
        </p>
        <p><a class="btn btn-default" href="#">Check 'em out! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>New Release</h2>
        <p>Browse per Genre, See Movie Trailers & Watch Movies Online on Demand. Choose from thousands, including new release's. Start streaming movies now at  VIDLY.</p>
        <p><a class="btn btn-default" href="#">Check 'em out! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>On Demand</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="#">Check 'em out! &raquo;</a></p>
    </div>
</div>